.idea/**
storage
docs/build
/docs/source/_autosummary/
**/__pycace__/
/GOOD/__pycache__
/GOOD/data
/GOOD/kernel/auto_launch.py
/GOOD/kernel/auto_chart.py
/GOOD/kernel/auto_chart_final.py
/GOOD/kernel/auto_chart_paper.py
/GOOD/kernel/auto_chart_tvt.py
/GOOD/kernel/auto_checkpoint.py
/GOOD/kernel/auto_curve.py
/GOOD/kernel/auto_curve_chart.py
/configs/auto_config_finetune/
/graph_ood.egg-info
*.pyc